{% extends "base.html" %}
{% load static %}
{% block title %}
About us
{% endblock title %}
{% block content %}

<main>
  <div>
    <h1 class="list-contacts-h1">Meet the Team!</h1>
  </div>
  <div class="contacts-list">
    {% for contact in contacts %}
    <div>
      <a href="{{ contact.link }}" target="_blank">
        <img
          class="contacts-image"
          src="{% static contact.image %}"
          alt="profile picture"
          width="300"
          height="300"
        />
      </a>
      <div class="contacts-words">
        <a href="{{ contact.link }}">
          <h3>{{ contact.name }}</h3>
        </a>
        <h4>{{ contact.job_title }}</h4>
      </div>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock content %}
