{% extends "base.html" %}

{% block title %}
    Show Tasks
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1 class="show_my_tasks-h1">My Tasks</h1>
            {% if tasks %}
                <table class="show-my-tasks-table">
                    <thead class="show-my-tasks-thead">
                        <tr class="show-my-tasks-tr1">
                            <th class="show-my-tasks-th">Name</th>
                            <th class="show-my-tasks-th">Start date</th>
                            <th class="show-my-tasks-th">Due date</th>
                            <th class="show-my-tasks-th">Is completed</th>
                            <th class="show-my-tasks-th">Notes</th>
                        </tr>
                    </thead>
                    <tbody class="show-my-tasks-tbody">
                        {% for task in tasks %}
                            <tr class="show-my-tasks-tr2">
                                <td class="show-my-tasks-td">{{ task.name }}</td>
                                <td class="show-my-tasks-td">{{ task.start_date }}</td>
                                <td class="show-my-tasks-td">{{ task.due_date }}</td>
                                <td class="show-my-tasks-td">
                                    <a href="{% url 'toggle_task_completion' task.id %}">
                                        {{ task.is_completed|yesno:"yes,no" }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
        <p class="show-my-tasks-p"><br><br><br>
        <button class="base-nav-button"><a href="{% url 'create_task' %}">Create A New Task</a></button>
        </p>
    </main>
{% endblock content %}





{% comment %} {% extends "base.html" %}

{% block title %}
    Show Tasks
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1 class="show_my_tasks-h1">My Tasks</h1>
            {% if tasks %}
                <table class="show-my-tasks-table">
                    <thead class="show-my-tasks-thead">
                        <tr class="show-my-tasks-tr1">
                            <th class="show-my-tasks-th">Name</th>
                            <th class="show-my-tasks-th">Start date</th>
                            <th class="show-my-tasks-th">Due date</th>
                            <th class="show-my-tasks-th">Is completed</th>
                        </tr>
                    </thead>
                    <tbody class="show-my-tasks-tbody">
                        {% for task in tasks %}
                            <tr class="show-my-tasks-tr2">
                                <td class="show-my-tasks-td">{{ task.name }}</td>
                                <td class="show-my-tasks-td">{{ task.start_date }}</td>
                                <td class="show-my-tasks-td">{{ task.due_date }}</td>
                                <td class="show-my-tasks-td">{{ task.is_completed|yesno:"yes,no" }}</td>
                                <td class="show-my-tasks-td"><a href="{% url 'show_notes' task.name %}"><img class="image" src="https://png.pngtree.com/png-clipart/20221028/ourmid/pngtree-cute-and-aesthetic-sticky-notes-png-image_6386294.png" alt="notepad"></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
        <p class="show-my-tasks-p"><br><br><br>
        <button class="base-nav-button"><a href="{% url 'create_task' %}">Create A New Task</a></button>
        </p>
    </main>
{% endblock content %} {% endcomment %}
